@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700&display=swap');


:root{

    /* Tipografia*/
    --step--2: clamp(0.36rem, calc(0.42rem + -0.09vw), 0.41rem);
    --step--1: clamp(0.60rem, calc(0.70rem + -0.15vw), 0.68rem);
    --step-0: clamp(1.00rem, calc(1.17rem + -0.24vw), 1.13rem);
    --step-1: clamp(1.67rem, calc(1.96rem + -0.41vw), 1.88rem);
    --step-2: clamp(2.78rem, calc(3.26rem + -0.68vw), 3.13rem);
    --step-3: clamp(4.63rem, calc(5.44rem + -1.13vw), 5.21rem);
    --step-4: clamp(7.72rem, calc(9.06rem + -1.88vw), 8.69rem);
    --step-5: clamp(12.87rem, calc(15.11rem + -3.14vw), 14.48rem);


    --fonte-titulo: 'Epilogue', sans-serif;
    --fonte-comum: 'Sora', sans-serif;


    /* Cores*/
    --gray-input: hsla(0, 0%, 57%, 0.168);
    --gray-text: hsla(0, 0%, 88%, 0.525);
    --green-primary:hsl(158, 100%, 78%);
    --blue-primary:hsl(208, 100%, 50%);
    --blue-grad: hsl(208, 67%, 56%);
    --gradient-tt: linear-gradient(90deg, var(--green-primary) 0%, var(--blue-grad) 100%);
}

body{
    background-color: black;
    padding: 0;
    margin: 0;
}
*{
    font-size: var(--step-0);
    font-family: var(--fonte-comum);
}

h1{
    font-size: var(--step-1);
}

